<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Wrapper Component</title>
</head>

<body>
    <div id="buku">
        <input type="text" v-model="keyword" placeholder="Ketikan kata kunci"/>
        <ul class="list-group" >
            <li v-for="book in filterBuku">{{ book }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#buku',
            data: {
                keyword: '',
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ]
            },
            computed: {
                filterBuku () {
                    return this.keyword
                    ? this.books.filter(item => item.toLowerCase().includes(this.keyword))
                    : this.books
                }
            }
        });
    </script>
</body>

</html>