<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="daftar-nama">
        <form v-on:submit.prevent="tambahNamaBaru">
            <input v-model="inputNamaBaru" id="new-name">
            <button>Add</button>
        </form>
        <ul>
            <li is="nama" v-for="name, index in daftars" v-bind:key="index" v-bind:name="name"
                v-on:remove="daftar.splice(index, 1)"></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
    <script>
        Vue.component('nama', {
            template: '\
            <li>\
                {{ name }}\
                <button v-on:click="$emit(\'edit\')">Edit</button>\
                <button v-on:click="$emit(\'remove\')">Delete</button>\
                </li>\
                ',
                props: ['name']
            })
        new Vue({
            el: '#daftar-nama',
            data: {
                inputNamaBaru: '',
                daftars: [
                    {
                        'name': 'Saha Louis',
                    },
                    {
                        'name': 'Bae Sin Jo',
                    },
                    {
                        'name': 'Lah',
                    }
                ],
                idTambah: 4
            },
            methods: {
                tambahNamaBaru: function () {
                    this.daftars.push({
                        id: this.idTambah++,
                        name: this.inputNamaBaru
                    })
                    this.inputNamaBaru = ''
                }
            }
        })
    </script>
</body>

</html>